{% extends 'back/customer/customer-base.html' %}{% load static %}{% load widget_tweaks %} {% block title %}Invester - Dashboard{% endblock title %} {% block static %} {% endblock static %} {% block content %}

<div class="">
    <div class="card">
        {% for i in messages %}
        <p style="color:green">{{i}}</p>
        {% endfor %}
    </div>
    <form method="get" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <h4>Get Your Investments Updates</h4>
                    <h6>Hello, {{request.user.first_name}}</h6>
                    <img class="avatar-img rounded-circle" src="{{iuser.profile_pic.url}}" style="width: 100px;">
                </div>
                <div class="form-group">
                    
                </div>
                <div class="card-body">
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                <td><b>Your Full Name : {{iuser.get_name}}</b></td>
                            </tr>
                        </thead>
                        <tr>
                            <td>Your Investment : {{updates.investment}}</td>
                        </tr>
                        <tr>
                            <td>Note By Admin : {{updates.next_payment_note}}</td>
                        </tr>
                        <tr>
                            <td>Next Payment Date : {{updates.next_payment_date}}</td>
                        </tr>
                        <tr>
                            <td>Next Investment Note : {{updates.payment_mode}}</td>
                        </tr>
                        <tr>
                            <td>Created Date : {{updates.transaction_id}}</td>
                        </tr>
                        <tr>
                            <td>Investment Status :  {{updates.payment_date}}</td>
                        </tr>
                        <tr>
                            <td>Last Updated :  {{updates.updated}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}