{% load static %}
<footer id="site-footer" class=" bgdark padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <a href="{% url 'Home-Page' %}" class="footer_logo bottom25"><img src="{% static 'images/condorde-white-logo.png' %}" alt="MegaOne"></a>
                    <p class="whitecolor bottom25">Our aim is to provide a robust savings solution that’s better, cheaper and more reliable than banking systems.</p>
                    <div class="d-table w-100 address-item whitecolor bottom25">
                        <span class="d-table-cell align-middle"><i class="fas fa-envelope"></i></span>
                        <p class="d-table-cell align-middle bottom0">
                            <a class="d-block" href="mailto:info@concordeinvestments.in">info@concordeinvestments.in</a>
                        </p>
                    </div>
                    <ul class="social-icons white wow fadeInUp" data-wow-delay="300ms">
                        <li><a href="javascript:void(0)" class="facebook"><i class="fab fa-facebook-f"></i> </a> </li>
                        <li><a href="javascript:void(0)" class="twitter"><i class="fab fa-instagram"></i> </a> </li>
                        <li><a href="javascript:void(0)" class="linkedin"><i class="fab fa-linkedin-in"></i> </a> </li>
                        <li><a href="javascript:void(0)" class="insta"><i class="fab fa-twitter"></i> </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <h3 class="whitecolor bottom25">Latest News</h3>
                    <ul class="latest_news whitecolor">
                        <li> <a href="#.">Stock Market After COVID19... </a> <span class="date defaultcolor">15 March 2021</span> </li>
                        <li> <a href="#.">Property Trends in 2022... </a> <span class="date defaultcolor">23 Jun 2021</span> </li>
                        <li> <a href="#.">Best ways to Invest... </a> <span class="date defaultcolor">19 Jan 2022</span> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20 ps-0 ps-lg-5">
                    <h3 class="whitecolor bottom25">Our Services</h3>
                    <ul class="links">
                        <li><a href="{% url 'Home-Page' %}">Home</a></li>
                        <li><a href="{% url 'About-Page' %}">About Us</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Investing Planning</a></li>
                        <li><a href="{% url 'Contact-Page' %}">Contact Us</a></li>
                        <li><a href="#">Faq's</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <h3 class="whitecolor bottom25">Business hours</h3>
                    <p class="whitecolor bottom25">Our support available to help you 24 hours a day, seven days week</p>
                    <ul class="hours_links whitecolor">
                        <li><span>Monday-Friaday:</span> <span>10.00-17.00</span></li>
                        <li><span>Saturday:</span> <span>11:00-18:00</span></li>
                        <li><span>Sunday:</span> <span>11:00-18:00</span></li>
                        <li><span>Calendar Events:</span> <span>8-Hour Shift</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>